@{
    ViewBag.Title = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="notLoggedIn">
        <div class="jumbotron">
            <h1>StatTracker</h1>
            <p class="lead">The StatTracker application exists to help coaches and scouts compile and view data for individual players or a team. It helps coaches to find opportunities for growth and areas of strength. Scouts can use it to discover trends in a player over time.</p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    When you create an account, you have options to enter teams and players. You can then track common statistics for each. We are currently able to help track useful data for skaters, such as goals, assists, and shooting percentage. For teams, there are options to track information for power plays, penalty kills, goals for, goals against, wins and losses and more. Check out the "Updates In Progress" to see areas we are working and ideas we have to expand the capabilities of the application.
                </p>
            </div>
            <div class="col-md-4">
                <h2>About Us</h2>
                <p>
                    Here at StatTracker, we are hockey fans first and foremost. While not all of us played professionally, we have all played recreationally and watch the sport constantly. We saw a lack of accessible resources for coaches, so we decided to build our own. The biggest benefit to that is the ability to adapt and improve. We listen to coaches and scouts and can easily update to fit the needs of our clients.
                </p>
            </div>
            <div class="col-md-4">
                <h2>Updates In Progress</h2>
                <p>We are constantly working to improve our product. We have a few ideas that we are currently working on bringing to the project. We want to expand to include statistics that are more specific to defensive players or goaltenders. We are also working on a new look for the application. If you have any ideas, please feel free to reach out and share those at jddorhauer@gmail.com.</p>
            </div>
        </div>
    </div>
}
else
{
    <div class="inApp">
        <div class="home">
            <div id="outerNews" class="col-md-6">
                <div id="news" class="col-md-8">
                    <h2>News Around Hockey</h2>
                    <p>
                        <a href="https://www.nhl.com/news" target="blank">NHL News</a>

                        <hr>

                        <a href="https://www.nwhl.zone/page/show/2748687-news" target="blank">NWHL News</a>

                        <hr>

                        <a href="https://www.collegehockeynews.com/" target="blank">College Hockey News</a>
                    </p>
                </div>
            </div>
            <div id="newsImg" class="col-md-6">
                <img src="~/Content/Assets/news.jpg" />
            </div>
            <div id="recommendedImg" class="col-md-6">
                <img src="~/Content/Assets/coaching.jpg" />
            </div>
            <div id="outerRec" class="col-md-6">
                <div id="recommended" class="col-md-9">
                    <h2>Recommended Products</h2>
                    <p>
                        <a href="https://www.hockeymonkey.com/accessories/otheraccessories/coaching-aids.html" target="blank">Hockey Monkey</a>

                        <hr />

                        <a href="https://www.hockeyshot.com/On-Ice-Coaching-Aids-s/132.htm" target="blank">Hockey Shot</a>

                        <hr />

                        <a href="https://www.purehockey.com/c/hockey-accessories-referee-coach?utm_medium=referral&utm_source=hockeygiant.com" target="blank">Pure Hockey</a>
                    </p>
                </div>
            </div>
            <div class="vacationIdeas">
                <div id="outerVacation" class="col-md-6">
                    <div id="vacation" class="col-md-8">
                        <h2>Plan A Hockey Trip</h2>
                        <p>
                            The Hockey Hall of Fame
                        </p>
                        <p>Plan trip <a href="https://www.hhof.com/" target="blank">here</a>.</p>
                        <hr />
                        <p>
                            The US Hockey Hall of Fame
                        </p>
                        <p>Visit Website <a href="https://www.ushockeyhall.com/" target="_blank">here</a></p>
                        <hr />
                        <p>
                            The Rideau Canal in Ottawa
                        </p>
                        <p>More Info <a href="http://ncc-ccn.gc.ca/rideau-canal-skateway" target="blank">here</a></p>
                    </div>
                </div>
                <div id="vacationImg" class="col-md-6">
                    <p>
                        <img src="~/Content/Assets/vacation.jpg" />
                    </p>
                </div>
            </div>
        </div>
    </div>
}

<style>
    body {
        background-image: url(/Content/Assets/home_page.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    h2 {
        font-family: Bahnschrift;
    }

    a {
        font-family: Georgia;
    }

    p {
        font-family: Georgia;
    }

    .jumbotron {
        background-color: rgba(235, 240, 247, 0.65);
    }

    .row {
        background-color: rgba(235, 240, 247, 0.55);
    }

    .inApp {
        margin-top: 10%;
    }

    #news {
        background-color: rgba(235, 240, 247, 0.70);
        text-align: center;
        margin-left: 8%;
    }

    #outerNews {
        text-align: center;
    }

    #newsImg {
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: -3.5%;
        margin-right: 3.5%;
        text-align: center;
    }

    #recommendedImg {
        text-align: center;
        margin-top: 6%;
        margin-left: -3%;
        margin-right: 3%;
        margin-bottom: 3%;
    }

    #recommended {
        background-color: rgba(235, 240, 247, 0.70);
        text-align: center;
        margin-top: 10%;
        margin-left: 8%;
        margin-bottom: 5%;
    }

    #outerRec {
        text-align: center;
    }

    #outerVacation {
        text-align: center;
    }

    #vacation {
        background-color: rgba(235, 240, 247, 0.70);
        margin-top: 5%;
        margin-left: 10%;
        text-align: center;
    }

    #vacationImg {
        text-align: center;
        margin-top: 9%;
        margin-left: -1.5%;
        margin-right: 1.5%;
        margin-bottom: 8%;
    }

    .vacationIdeas {
        margin-bottom: 10%;
    }

    .notLoggedIn {
        color: #0f0f0f;
        text-align: center;
    }

    .loggedIn {
        margin-top: 25%;
        margin-bottom: 25%;
        text-align: center;
        color: #0f0f0f;
    }

    button {
        text-decoration: none;
        margin: .5em;
    }
</style>